<form enctype="multipart/form-data"  action="/add-file" method="POST" class="add-file-form" >
    <label for="avatar">Выберите файл для загрузки:</label>
    <input name="file" type="file" required>

    <button>Загрузить</button>
</form>