<link rel="stylesheet" href="<%= pageStyle %>">
<div class="error-wrapper">
    <div class="error-block">
        <h2>Страница не найдена</h2>
        <a href="/">Вернуться на главную</a>
    </div>
</div>