<link rel="stylesheet" href="/public/css/components/header/header.min.css">
<%- include('../styles-vendor/styles-vendor.ejs'); %>
<%- include('../styles-global/styles-global.ejs'); %>
<h2>Header</h2>
